div{
    width: 400px;
    background-color: rgba(205, 213, 220, 0.596);
    margin-bottom: 20px;
    padding: 10px;
    border-left: 5px solid ;
    outline: 5px solid rgba(205, 213, 220, 0.596);
}
.element-1{
   border-color: rgba(255, 0, 0, 0.564); 
}
.element-2{
    visibility: hidden;
}
.element-3{
    border-color: rgba(0, 128, 0, 0.574);
}